@model IEnumerable<TcKimlikTest.Models.Customer>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TcKimlik.TCKimlikNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TcKimlik.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TcKimlik.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TcKimlik.DogumYili)
            </th>
            <th>
                Company Name
            </th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TcKimlik.TCKimlikNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TcKimlik.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TcKimlik.Soyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TcKimlik.DogumYili)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td></td>
        </tr>
}
    </tbody>
</table>
